



{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<style>
			video{
				position: relative;
  bottom: -68px;
			}
			.bg-image {
			background-size: cover;
			background-image: url("{% static 'pic.jpeg' %}");
			width: 100vw;
			height: 100vh;
			background-repeat: no-repeat;
			color: #e8a01a;

			justify-content: center;
			align-items: center;

		}
		</style>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-image font-serif leading-normal tracking-normal">
		<div class="container mx-auto">
            <section class="flex items-center justify-center h-screen">

				<video width="400" controls>
					<source src="{% static 'video.mp4' %}" type="video/mp4">
					<source src="mov_bbb.ogg" type="video/ogg">
					Your browser does not support HTML video.
				  </video>
				  
            </section>	
		</div>
	</body>
</html>
